@import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";

@keyframes wobble {
    25% {
      transform: rotate(15deg);
      transform: scale(2);
    }
    50% {
      transform: rotate(-30deg);

    }
    75% {
      transform: rotate(5deg);

    }
    100% {
      transform: rotate(0deg);
    }
  }


*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(36 82 82 / 69%);
}
button{
    color:white;
    width:10%;
    padding: 20px;
    margin:10px 20px 10px 20px;
    font-size: 1.2rem;
    box-shadow: 0 3px 3px rgba(87, 88, 88, 0.521), 0 3px 3px rgba(87, 88, 88, 0.521);
    transition: .3s ease-in-out;
}
button:hover{
    transition: .3s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
    
}
span{
    font-size: 2rem;
    color: white;
    text-shadow: 1px 2px 3px black, 1px 2px 3px black;
    font-weight: bold;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.black{
    background-color: black;
}
.blue{
    background-color: blue;
}
.white{
    background-color: white;
    color: black;
}
.youngWolf{
    background-color: gold;
    color:black;
    border: 3px dashed;
}
.youngWolf:hover{
    animation: wobble 4s;
    
}
h1{
    font-size: 3rem;
    color: white;
    text-shadow: 1px 2px 3px black, 1px 2px 3px black;
}
h3{
    font-size: 2.5rem;
}
p{
    color:white;
}
img{
    background-color: white;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 3px 3px rgba(87, 88, 88, 0.521), 0 3px 3px rgba(87, 88, 88, 0.521);
    transition: .3s ease-in-out;
}
img:hover{
    padding: 0px;
    transition: .3s ease-in-out;
    cursor: pointer;
    transform: scale(1.5)
}